.certificate{
  background: linear-gradient(180deg,#ebf4ff,#e7f2ff);
  .certificateCard{
    padding: 160px;
    transform: translateX(-12px);
    //border-radius: 0px 20px 20px 0px;
    background: #0B3970;
    color: #ffffff;
    padding: 160px;
    p{
      font-size: 24px;
    }
  }
}