.qualitySection{
  padding-top: 40px;
  background: linear-gradient(180deg, #ebf4ff 0%, #e7f2ff 100%);
  border-radius: 20px;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  .qualityImg{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
      margin-bottom: 20px;
    }
  }
}