@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;800&display=swap');

$primary:   #0A4A95;
$btn-color: #0A4A95;
$btn-border-radius:  8px;

$font-family-base:'Montserrat', sans-serif;



$btn-padding-y: 10px;
$btn-padding-x: 25px;