.aboutSection{
  margin-top: 20px;
  .aboutCard{
    border-radius: 20px;
    background: #0B3970;
    padding: 100px;
    color: #ffffff;
    margin-top: 20px;
    height: 100%;
    p{
      font-size: 18px;
      font-weight: 400;
    }
  }
  .aboutImg{
    margin-top: 20px;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
    img{
      height: 100%;
      object-fit: cover;
    }
  }
}