.contactHead{
  border-radius: 20px;
  width: 100%;
  padding: 20px 60px;
  @media (max-width: 575.98px) {
    padding: 20px 20px;
  }
  //background: #efefef;
  margin-top: 40px;
  margin-bottom: 40px;
  p{
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  h1{
    font-size: 25px;
  }
}
.addressCard{
  h2{
    font-weight: 600;
    @media (max-width: 575.98px) {
      font-size: 18px;
    }
  }
  padding: 40px;
  background: linear-gradient(180deg, #ebf4ff 0%, #e7f2ff 100%);
  border-radius: 20px;
  height: 100%;
  width: 100%;
  padding: 60px 60px;
  @media (max-width: 575.98px) {
    padding: 20px 20px;
  }

  display: flex;
  flex-flow: column;
  justify-content: space-around;
  .address{
    p{
      font-size: 20px;
      padding-right: 140px;
      @media (max-width: 575.98px) {
        padding-right: 0px;
        font-size: 16px;
      }
    }
  }
}