.sectorSection{
  margin-top: 20px;
  .sectorCard{
    border-radius: 20px;
    min-height: 400px;
    padding: 40px;
    border: 1px solid #000;
    color: #000;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    transition: 0.5s ease all;
    &:hover{
      background: linear-gradient(90deg, #0A4A95 100%, #3589EB 0%);
      color: #ffffff;
      img{
        filter: invert(0);
      }
    }
    img{
      text-align: right;
      filter: invert(1);
    }
  }
}