.sectorSection{
  margin-top: 40px;
  .sectorCard{
    border-radius: 20px;
    min-height: 400px;
    padding: 40px;
    border: 1px solid #000;
    color: #000;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    transition: 0.5s ease all;
    &:hover{
      background: #eeeeee;
    }
    img{
      text-align: right;
    }
  }
}